.card__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.card__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 1rem;
}
.card__list{
    list-style-type: '👉  ';
    padding: 1.5rem;
    margin: 1.2rem;
    font-size: 1.6rem;
}

.card__list__item{
    margin-bottom: 1rem;
}

.card_image{
    height: 40rem;
    object-fit: cover;
    border-radius: 1rem;
}
.flex-rotate{
    flex-direction: row-reverse;

}
