.my__profile{
    font-size: 1.7rem;
    padding-top: 10rem;
}


.profile__container{
    margin:  0 3rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile__img{
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
}

.profile__name{
    margin: 0;
}

.profile__email{
    margin: 0;
    color: grey;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.cover__img__input{
    width: 40rem;
}

.btn-cancle{
    background-color: rgb(80, 77, 102);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.7rem 2.5rem;
    color: white;
}

.btn-save{
    background-color: rgb(26, 5, 156);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.7rem 3.7rem;
    color: white;
}


/* ///////////////////////////////////////////////////// */

.details__container{
    padding: 0 8rem;
}

.personal__details, .professional__details, .social__details {
    padding: 0 5rem;
    margin: 6rem 0;
    width: 85rem;
    
}

.personal__details__component, .professional__details__component, .social__details__component{
    
    padding:4rem;
    padding-left: 18rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading__section{
    font-size: 2.3rem;
}
.component{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 4rem;
}

.component__lable{
    margin: .6rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.skills__container__my__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

