.doubts{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    color: white;
    background-color: rgb(231, 178, 5);
}