.doubts{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background-color: rgb(212, 70, 255);
}