.login{
    text-align: center;
    height: 100vh;
    display: flex;
    padding: 0 10rem 0 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    color: rgb(26, 5, 156);
}

.login__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1.5px solid rgb(26, 5, 156);
    margin-top: 4rem;
    padding: 3rem 4rem;
    font-size: 2rem;
}
.login__txt{
    font-size: 1.5rem;
}
.login__content__form{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.login__content__bottom{
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 9rem;
}


.actionLogin{
    padding: .6rem 2rem;
    background-color: rgb(26, 5, 156);   
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1.7rem;
}

.para__small{
    font-size: 1.5rem;
}

button{
    all: unset;
    cursor: pointer;
    border-radius: 10rem;
}

.login__img{
    height: 60rem;
}



@media screen and (max-width: 550px){
    .login__content__btns{
        gap: 2.5rem;
    }

    .reveal{
        left: 16rem;
    }

    .login__content{
        padding: 2rem 2rem;
    }
}