.hero{
    display: flex;
    height: 90vh;
    color: #fff;
    /* clip-path: polygon(0% 0%, 30% 40%, 10% 80%, 89% 30%); */
    clip-path: circle(62% at 20% 11%);
    background: linear-gradient(135deg,#000000 0%, rgba(0, 0, 0, 0.8) 33.04%,rgba(0, 0, 0, 0.6563) 59.43%,rgba(89, 89, 89, 0.428) 100%);
    /* #000000 0%, rgba(0, 0, 0, 0.8) 33.04%, rgba(0, 0, 0, 0.6563) 59.43%, rgba(89, 89, 89, 0.428) 100%
    */
}

.hero__texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding: 6rem 8rem;
    color: #fff;
}

.hero__texts__head{
    font-size: 3rem;
}

.hero__texts__head__subhead{
    /* not a good practise */
    height: 2rem; 
    animation: blinking 800ms infinite;
    border-right: .15rem solid #fff;
    font-size: 2rem;
    color: #fff;
}

.hero__texts__btn{
    font-size: 1.2rem;
    padding: .8rem 1.8rem;
    background-color: grey;
}

.hero__texts__btn:hover{
    cursor: pointer;
}

@keyframes blinking{
    0%{
        border-color: #ffffff;
    }

    50%{
        border-color: transparent;
    }
}

@media (max-width:1100px) {
    .hero{
        clip-path: circle(79% at 20% 11%);
        background: linear-gradient(135deg,#000000 0%, rgba(0, 0, 0, 0.8) 33.04%,rgba(0, 0, 0, 0.6563) 59.43%,rgba(89, 89, 89, 0.428) 100%);
    }
}

@media (max-width:780px) {
    .hero{
        clip-path: circle(80% at 16% 11%);
        background: linear-gradient(135deg,#000000 0%, rgba(0, 0, 0, 0.8) 33.04%,rgba(0, 0, 0, 0.6563) 59.43%,rgba(89, 89, 89, 0.428) 100%);
    }
}

@media (max-width:600px) {
    .hero{
        height: 100vh;
        clip-path: circle(80% at 16% 11%);
        background: linear-gradient(135deg,#000000 0%, rgba(0, 0, 0, 0.8) 33.04%,rgba(0, 0, 0, 0.6563) 59.43%,rgba(89, 89, 89, 0.428) 100%);
    }
}
