.discover{
    display: flex;  
    gap: 2rem;
    background-color: rgb(216, 216, 216);
}

.discover__body{
    display: flex;
    gap: 2rem;
}

.left-contents{
    min-width: 15rem;
    padding: 1rem;
    /* background-color: rgb(216, 216, 216); */
    /* border-radius: .2rem; */
}

.left__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn{
    background-color: rgb(92, 92, 92);
    color: white;
    padding: .6rem 2rem;
}

.right-contents{
    padding: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: .2rem;
}