.discover__card{
    width: 41%;
    height: max-content;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: .2rem;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
}

.discover__card__infos{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.discover__card__infos__name{
    margin: 0;
    font-weight: 600;
    font-size: 1.8rem;
}

.discover__card__infos--branch__sem{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.discover__card__infos--branch{
    margin: 0;
    font-weight: 500;
}

.discover__card__infos--sem{
    margin: 0;
    font-weight: 500;
}
.discover__card__skills{
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.discover__card__social{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover__card__social__public{
    display: flex;
    gap: 1rem;
}

.discover__card__social__public--icons{
    cursor: pointer;
    
}
.discover__card__social__public--icons :hover{

    color: rgb(26, 5, 156);
    
}

.discover__card__social__private--message{
    padding: .7rem 1.4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    background-color: rgb(26, 5, 156);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10rem;
    color: white;
}

