.discover{
    padding-top: 6rem;
    font-size: 1.5rem;
}

.discover__body{
    display: flex;
    gap: 6rem;
}

.left-contents{
    min-width: 23rem;
    padding: 1rem 2rem 3rem 2rem;
    color: white;
    background-color: rgb(26, 5, 156);
}

.left__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn{
    background-color: rgb(92, 92, 92);
    color: white;
    padding: .6rem 2rem;
}

.right-contents{
    padding: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: .2rem;
}