.discover{
    padding-top: 6rem;
    font-size: 1.5rem;
}

.discover__body{
    display: flex;
    gap: 6rem;
}

.left-contents{
    min-width: 25rem;
    padding: 1rem 2rem 3rem 2rem;
    color: white;
    background-color: rgb(26, 5, 156);
}


.filter__container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 3px solid rgb(159, 159, 159);
    border-radius: .2rem;
}

.skillList{
    display: flex;
    gap: .2rem;
    flex-direction: column;
    align-items: flex-start;
}

.semesterfilter{
    padding: 1rem;
    border-radius: .2rem;
}

.search-btn{
    background-color: var(--color-secondary);
    color: white;
    padding: .6rem 2rem;
}

.right-contents{
    height: max-content;
    padding: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: .2rem;
}