.skills{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem 1.2rem;
    background-color: rgb(7, 7, 7);
    color: #fff;
    font-size: .8rem;
    border-radius: 10rem;
}