.features{
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    padding: 0rem 7rem 5rem 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}