:root{
  --color-primary: #1a059c;
  --color-primary-light: #1a059c;
  --color-primary-dark: #1a059c;
  --color-secondary: #e7b205;
  --color-secondary-light: #1a059c;
  --color-secondary-dark: #1a059c;

  --bnt-shadow: 4px 4px 8px #00000033;
}
html {
  font-size: 62.5%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 68.75em) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 62.5em) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 62%;
  }
}

@media screen and (max-width: 39.5em) {
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 31.25em) {
  html {
    font-size: 55%;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* utilities */

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-center-text {
  text-align: center !important;
}
.u-margin-bottom-small {
  margin-bottom: 0.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-top-medium {
  margin-top: 2rem !important;
}
.u-margin-top-small {
  margin-top: 1rem !important;
}


.u-margin-top-big {
  margin-top: 5rem !important;
}
.u-margin-top-huge {
  margin-top: 9rem !important;
}


/* MUI classes */

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  font-size: 1.5rem !important;
}

