.footer{
    padding: 1rem;
    color: #fff;
    background-color: rgb(42, 42, 42);
}

.footer__container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer__container__about{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: green; */
}

.footer__container__about--text{
    text-align: left;
    margin-top: 0px;
}

.footer__container__contacts{
    width: 30rem;
    padding: 1rem 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    /* background-color: green;    */
}
.social__container{
    margin-left: -1rem;
}

.social_icon{
    /* overflow: hidden; */

}

.contacts{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.link{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    text-decoration: none;
    color: white;
}

.hr__line {
    background-color: #4b4b4b;
    height: 1px;
}
  
.copyright {
    margin-top: .8rem;
    color: rgb(163, 163, 163);
    font-family: "lato";
    font-style: italic;
}
@media screen and (max-width: 37.5em) {
    .copyright {
        width: 110%;
    }
}

@media (max-width:786px) {
    .left{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:700px) {
    .footer__container__about{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer__container__contacts{
        width: 100%;
    }
}