.header{
    height: 10vh;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand_name{

}

.to__shrink{
    display: flex;
    gap: 1rem;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}

.cta-header{
    background-color: black;
    padding: 0 1.2rem;
    color: aliceblue;
    font-size: .8rem;
}

.nav__menu li{
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 0 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

Link:visited, Link:link{
    text-decoration: none;

}

.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
}


.hamburger{
    border: none;
    background: none;
}

.mobile-menu-icon{
    display: none;
}

@media (max-width:768px) {
    

    .to__shrink{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
        height: 10rem;
        /* position: absolute; */
        /* list-style: none; */
        /* left: 0; */
        /* transition: all .5s ease-in-out; */
        /* width: 100%; */
        /* background-color: white; */
    }
}