.header{
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cta-header{
    background-color: black;
    padding: .6rem 1.2rem;
}

.wh{
    color: aliceblue;
    text-decoration: none;
}

.nav__link{
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    margin: 0 1rem;
    cursor: pointer;
}