.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  /* box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); */
}

.nav__menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

ul li{
  list-style: none;
}
a{
  text-decoration :none;
  color: darkgray;
}